<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>967723502718-fbnf1ldgac18p4v8njaf6absrghja8go.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.967723502718-fbnf1ldgac18p4v8njaf6absrghja8go</string>
	<key>API_KEY</key>
	<string>AIzaSyAmB90qezgaMWEog-CAwjvWCSAAaRNtHQE</string>
	<key>GCM_SENDER_ID</key>
	<string>967723502718</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Jessie.Bubbles</string>
	<key>PROJECT_ID</key>
	<string>bubbles-aa1a0</string>
	<key>STORAGE_BUCKET</key>
	<string>bubbles-aa1a0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:967723502718:ios:84608feb1def508cd71c2f</string>
</dict>
</plist>